<ion-app>
  <ion-split-pane>   
    <ion-menu>
      <ion-content class="menu-content">
        <ion-card class="menu-card">
          <ion-item lines="none" color="transparent">
            <ion-thumbnail slot="start">
              <img src="../assets/images/money-bag.png">
            </ion-thumbnail>
            <div>
              <ion-text color="primary">
                <h4 style="font-weight:bold">{{app_name}}</h4>
              </ion-text>
              <ion-text style="color:black">
                <i style="font-size:1.8vh">{{app_description}}</i>
              </ion-text>
            </div>
          </ion-item>
        </ion-card>
        <ion-list class="menu-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appMenus">          
            <ion-item class="menu-item" [ngClass]="{'menu-separator':p.hasSeparator}" lines="none" [routerDirection]="'root'" [routerLink]="p.url" routerLinkActive="active">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label> {{p.title}} </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>